.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #8c919784;
  padding: 20px;
  color: rgb(22, 17, 56);
  text-align: center;
}

.logo-epn {
  width: 160px;
  height: 160px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: top;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 300px;
}

nav ul li {
  display: inline;
  margin-left: 100px;
  text-align: center;

}

.main-content {
  display: flex;
  
}

aside {
  width: 20%;
  background-color: #f1f1f1;
  padding: 15px;
}

.content {
  width: 75%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* Listas de Tareas */
.lista-tareas {
  display: flex;
  width: 60%;
  background: linear-gradient(135deg, #9198e563, #0513a484, #082fa4, #272e4b);
  padding: 25px;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid rgb(79, 90, 171);
  border-radius: 30px;
  text-align: auto;
  align-content: center;
}

/* Estilo del titulo */
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

footer {
  background-color: #8c919784;
  color: rgb(22, 17, 56);
  padding: 10px;
  width: 100%;
  bottom: 0;
  text-align: center;
} 
    